<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ContractPU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="PUEntities" connectionString="metadata=res://*/PUModel.csdl|res://*/PUModel.ssdl|res://*/PUModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=PU;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="PUEntitiesOne" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=PU;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="desktop-6cvs1r3\sqlexpress.PU.dbo" connectionString="XpoProvider=MSSqlServer;data source=localhost\SQLEXPRESS;integrated security=SSPI;initial catalog=PU" />
</connectionStrings><userSettings>
        <ContractPU.Properties.Settings>
            <setting name="Факултет" serializeAs="String">
                <value>Факултет</value>
            </setting>
            <setting name="ApplicationSkinName" serializeAs="String">
                <value />
            </setting>
        </ContractPU.Properties.Settings>
    </userSettings>
</configuration>